<div class="col-sm-5ths">
    {{$ctrl.friend.name}}
</div>
<div class="col-sm-5ths">
    {{$ctrl.friend.getFirstName()}}
</div>
<div class="col-sm-5ths">
    {{$ctrl.friend.lastName}}
</div>
<div class="col-sm-5ths">
    {{$ctrl.friend.group}}
</div>
<div class="col-sm-5ths">
    <div class="btn-group pull-sm-right" uib-dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-default btn-shadow" uib-dropdown-toggle ng-disabled="disabled">
        Actions <span class="caret"></span>
      </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="" ng-click="$ctrl.editFriend({friend:$ctrl.friend})">Edit</a></li>
            <li role="menuitem" class="danger"><a href="" ng-click="$ctrl.removeFriend({friend:$ctrl.friend})">Remove</a></li>
        </ul>
    </div>
</div>